.modal-footer{
    display: block;
}

.modal-body{
    margin-left: 10px;
    margin-right: 10px;
}

button:focus {
    outline: 0;
}

.foot-button{
    float: right;
}


@media (min-width: 720px) {
    .quan-input{
        max-width: 200px;
        padding-left: 0;
    }

    .quan-label{
        padding-top: 8px;
        max-width: 18%;
    }
}


