button:focus {
    outline: 0;
}

.navbar-nav .active{
    border: 2px solid white;
    border-radius: 15px;
}

.nav-link{
    margin-left: 10px;
    margin-right: 10px;
}


a{
    font-size: 15px;
}

.navbar-brand{
    font-size: 20px;
}