<div style="margin-top: 20px;">
    <div class="row">
    <div *ngFor="let news of newsList" class="col-lg-6 card-container">
        <div class="card" (click)="open(news)">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img [src]="news.urlToImage" class="card-img">
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <p class="card-text">{{news.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
