.text{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    left: 290px;
    width:1200px;
}


.main_portal{
    height:334px;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.title{
    text-align: center;
    padding-top:90px;
}

.required:after {
    content:" *";
    color: red;
}

.input_container{
    padding-top: 20px;
    padding-left: 400px;
}


input[type=text] {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 20px;
}

input[type=text]:focus{
    margin: -2px;
    border: 2px solid black;
}

.buttons_container{
    padding-top: 50px;
    padding-left: 470px;
}

.button{
    background-color: #F8F8F8;
    border: none;
    color: black;
    width: 120px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    outline-color: black;
}

.button:hover{
    background-color: #c7c7c7;
}

.navigation{
    margin-top: 15px;
    background-color: #e8e8e8;
    height: 50px;
}

.navigation button{
    height: 50px;
    border: none;
    background-color: #e8e8e8;
    color: black;
    font-size: large;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
    text-decoration: none;
    cursor:pointer;
}

.navigation button:not(.left){
    margin-left: -4px;
}

.navigation button:hover:not(.active) {
    background-color: #d2d2d2;
}

.navigation button.active {
    background-color: #c7c7c7;
} 

.navigation button:focus {
    outline:0;
}

.company_outlook{
    border: none;
    table-layout:fixed;
    border-collapse: collapse;
}


.company_outlook th{
    background-color: #d2d2d2; 
    text-align: left;
    width: 320px;
    height: fit-content;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
    border: 1px solid rgb(155, 155, 155);

}

.company_outlook td{
    background-color: #e8e8e8;
    text-align: center;
    word-wrap: break-word;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgb(155, 155, 155);
}

.arrow_img{
    height: 15px;
    width: 15px;
    padding-left: 6px;
}

.news_container{
    height: 120px;
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-bottom: 30px;
    border-collapse: collapse;
    
}

.news_img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 17px;
    object-fit: cover;
}

.charts{
    height: 400px;
}



