button:focus {
    outline: 0;
}

.modal-header{
    display: block;
}

.modal-header h1{
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.3;
}

.modal-header p{
    font-weight: 420;
    color: grey;
}


.modal-body h3{
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.3;
    font-size: large;
}

.description{
    line-height: 1.3;
}

.url{
    color: grey;
}

p{
    margin-bottom: 0;
}

.share{
    margin: 40px 0 15px 0;
    border: 1px solid #dddddd;
    height: 120px;
    border-radius: 5px;
}

.share p{
    margin-top: 30px;
    margin-left: 15px;
}

.twitter-icon{
    color: #31A2F0;
    font-size: 35px;
}

.facebook-icon{
    color: #101DF5;
    font-size: 35px;
    margin-left: 7px;
}

a:hover{
    text-decoration: none;
}