<div class="container" style="margin-top: 40px;">
    <h1>My Watchlist</h1>
    <div *ngIf="watchList.length; else noWatchList">
        <ng-container *ngIf="isFinished(); else loading">
            <div *ngFor="let inf of stockInfList; let i = index;">
                <div class="card" style="width: 100%;">
                    <button type="button" class="close" (click)="deleteWatchlist(inf.ticker,i)">
                        <span >&times;</span>
                    </button>
                    <div class="card-body" (click)="cardClick(inf.ticker)">
                        <div class="row" >
                            <div class="col-6">
                                <div class="first-line-font">
                                    {{inf.ticker}}
                                </div>
                                <div class="second-line-font">
                                    {{inf.name}}
                                </div>            
                            </div>
                            <div class="col-6">
                                <div class="first-line-font right" 
                                    [ngClass]="{'green': stockPriceList[i].change > 0,
                                    'red': stockPriceList[i].change < 0,
                                    'black': stockPriceList[i].change == 0 }">
                                    {{stockPriceList[i].last}}
                                </div>
                                <div class="second-line-font right" 
                                    [ngClass]="{'green': stockPriceList[i].change > 0,
                                    'red': stockPriceList[i].change < 0,
                                    'black': stockPriceList[i].change == 0 }">
                
                                    <svg *ngIf="stockPriceList[i].change > 0"  style="vertical-align: top;"
                                        width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                
                                    <svg *ngIf="stockPriceList[i].change < 0"  style="vertical-align: middle;"
                                        width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                
                                    {{stockPriceList[i].change}} ({{stockPriceList[i].changePer}}%)
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
          
        </ng-container>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>   
            </div>   
        </ng-template>
    </div>
    <ng-template #noWatchList>
        <div class="alert alert-warning" role="alert">
            Currently you don't have any stock in your watchlist.
        </div>
    </ng-template>
</div>
