.sub-container{
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.summary-chart{
    margin-top: 40px;
}

@media (min-width: 992px) {
    .summary-chart{
        margin-top: 0;
    }
}


