<div class="sub-container row">
    <div class="col-lg-6">
        <div class="row">
        <div class="col-6" style="padding-left: 4%;">
            High Price: {{numberWithCommas(stockLatestPrice.high, true)}} <br>
            Low Price: {{numberWithCommas(stockLatestPrice.low, true)}} <br>
            Open Price: {{numberWithCommas(stockLatestPrice.open, true)}} <br>
            Prev. Close: {{numberWithCommas(stockLatestPrice.prevClose, true)}} <br>
            Volume: {{numberWithCommas(stockLatestPrice.volume, false)}} <br>
        </div>
        <div class="col-6" *ngIf="isMarketOpen(stockLatestPrice.timestamp)">
            Mid Price: {{numberWithCommas(stockLatestPrice.mid, true)}} <br>
            Ask Price: {{numberWithCommas(stockLatestPrice.askPrice, true)}} <br>
            Ask Size: {{numberWithCommas(stockLatestPrice.askSize, true)}} <br>
            Bid Price: {{numberWithCommas(stockLatestPrice.bidPrice, true)}} <br>
            Bid Size: {{numberWithCommas(stockLatestPrice.bidSize, true)}} <br>
        </div>
        </div>

        <div style="margin-top: 40px;">
            <h2 style="text-align: center;">Company's Description</h2>
            Start Date: {{stockInf.startDate}}
            <br> <br>
            {{stockInf.description}}
        </div>
    </div>
    <!-- charts -->
    <div class="col-lg-6 summary-chart">
        <highcharts-chart style="width: 100%; display: block;"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [constructorType]="'stockChart'"
        [(update)]="updateFlag"
        ></highcharts-chart>
    </div>
</div> 


